body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
}

#main {
    width: 100%;
    margin: auto;
    max-width: 800px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    flex: 1; /* Takes up available space */
}

nav {
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Add padding for better spacing */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the links */
    flex-grow: 1; /* Allow ul to grow and push hamburger to the right */
}

nav ul li {
    margin: 0 20px; /* Space out links */
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px; /* Adjust padding for better touch targets */
}

nav ul li a:hover {
    color: aquamarine;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 878px) {
    nav ul {
        display: none; /* Hide links by default */
        flex-direction: column;
        position: absolute;
        background-color: #333;
        top: 60px; /* Position below the header */
        left: 0;
        width: 100%;
    }

    nav ul li a {
        padding: 10px 30px;
    }

    nav ul.active {
        display: flex; /* Show links when active */
    }

    nav ul li {
        margin: 10px 0; /* Space out links vertically */
    }

    .hamburger {
        display: block; /* Show the hamburger menu */
    }
}